body{ 
 background: color #f1f1f1;
 color: #0f141e; 
 font-size: 16px;
 font-weight: normal;
 font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
a{
color: #0f141e;
text-decoration: none;}
a:hover{text-decoration: underline;}
a:active{
    color: blue;}
    a:visited{
        color: grey;
    }



.avatar{width: 200px;
border-radius: 28px;
box-shadow: 4px 4px 14px rgba(0, 0, 0, 25)  }
.info p{
color:#86898f ;
margin: 0;
font-style: italic;
font-weight: bold;
text-decoration: none;
text-transform: capitalize;
margin: bottom 0%;;

}

@media( max-width:8) {
 .info{ display:block ; text-align:center ;}  
}
.social{background: green;
padding:15PX 40px;border: 5px solid red;margin: 15px;
border-bottom-style: dotted;border-top-width:15px; }

.contain { max-width:750px; margin: auto;}

.bg-yellow{
background: #fff9dc;
}

.bg-green{
background:#e5ffe7;
}


.bg-red{
background:#ffe5e5;
}
.card{ 
padding: 15px 20px;
margin-bottom: 20px;
border-radius: 20px;
}
.list{
    list-style: none;

}
.list li{   
    color: #86898f;
    margin-bottom: 10px;
}
.btn{
background: #111;
padding:15px 20px ;
color: #fff;
border: none;
font-family: inherit;
cursor: pointer;
}
.btn:hover{
opacity: 0.9;

}
.position{

}
